.welcome {
  background-color: aqua;
  padding: 1em;
  margin: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 12px;
  width: 300px;
}

.error {
  background-color: red;
  padding: 1em;
  border-radius: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
  width: 400px;
  cursor: pointer;
}